version: "3.7"

services:

  app_proxy:
    environment:
      # The format here is: <app-id>_<docker-service-name>_1
      APP_HOST: sparkles-archivebox_server_1
      APP_PORT: 8000
    
  server:
    image: archivebox/archivebox:0.7.4
    restart: on-failure
    user: "1000:1000"
    init: true
    command: server --quick-init 0.0.0.0:8000
    environment:
      - ALLOWED_HOSTS=*
      - MEDIA_MAX_SIZE=750m
    volumes:
      - ${APP_DATA_DIR}/data:/data
